:root {
  /* Tillåter animering mellan bland annat width 0 och auto, än så länge endast chrome och edge */
  interpolate-size: allow-keywords;
  --easing: linear(0, 1 37.8%, 0.883 44.2%, 0.855 47.1%, 0.846 50%, 0.853 52.7%, 0.875 55.5%, 1 65.5%, 0.967 69.4%, 0.957 73.1%, 0.964 76.5%, 1 84.5%, 0.993 89.3%, 1);
  --transition-time: 0.5s;
}
.offcanvas.offcanvas-end {
  --bs-offcanvas-width: 600px;
}


/* Specifik kod för link-list */
.link-list {
  --scale: 1.05;
  --text-color: #feefbe;
  --border-color: #ffc100; /* Set by fetch! */
  --texture-opacity: 0.2;
  --texture-blur: 2px;
  --link-width: 300px;
  --link-height: 70px;
  --link-transition-time: 0.5s;
  user-select: none;
  .link-wrapper {
    transition: all calc(var(--link-transition-time)*1.5) var(--easing);
    width: var(--link-width);
    height: var(--link-height);
    border: 2px solid var(--border-color);
  }
  .link-wrapper:hover {
    scale: var(--scale);
    transition: all var(--link-transition-time) var(--easing);
    transform-origin: right;
  }
  .link-wrapper::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: #222222;
    background: linear-gradient(15deg, rgba(51,51,51,1) 60%, rgba(255,193,0,0.3) 100%);
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
[data-bs-theme="light"] .link-list {
  --border-color: #0d6efd;
}
@media (hover: hover) { /* Media query för enheter som har mus */
  /* Länklista, göm ikoner som default */
  .link-item:not(:hover) > .icon-wrapper i {
    transform: translateX(-4rem);
    scale: 0.2;
    opacity: 0;
    transform-origin: left;
    transition: all calc(var(--link-transition-time)*1) cubic-bezier(0.64, 0, 0.78, 0), opacity 0.5s cubic-bezier(0.64, 0, 0.78, 0);
  }
  .icon-wrapper i {
    transition: all var(--link-transition-time) var(--easing);
  }

  /* Administrera länkar knapp, krymp som default */
  .shrinkable-btn {
    overflow: hidden;
  }
  .shrinkable-btn .btn-text {
    perspective: 40rem;
    display: inline-block;
    white-space: nowrap;
    transition: all var(--transition-time) var(--easing);
    width: 0;
  }
  .shrinkable-btn:not(:hover) .btn-text {
    opacity: 0;
  }  
  .shrinkable-btn:hover .btn-text {
    opacity: 1;
    width: auto;
  }
}
@media (prefers-reduced-motion: reduce) {
  .link-list {
    --link-transition-time: 0s; /* Stäng av animationer vid reduced motion */
  }
  :root {
    --transition-time: 0s;
  }
}