:root {
  interpolate-size: allow-keywords; /* Allows transition between height: auto and values */
}
.offcanvas.offcanvas-end {
  --bs-offcanvas-width: 600px;
}





/* Specifik kod för link-list */
.link-list {
  --scale: 1.1;
  --text-color: #feefbe;
  --border-color: #ffc100; /* Set by fetch! */
  --texture-opacity: 0.2;
  --texture-blur: 2px;
  --link-width: 300px;
  --link-height: 70px;
  --bg-zoom-to-cover: 200%;
  --bg-size: 5%;
  --bg-rotation: -15deg;
  --easing: linear(0, 1 37.8%, 0.883 44.2%, 0.855 47.1%, 0.846 50%, 0.853 52.7%, 0.875 55.5%, 1 65.5%, 0.967 69.4%, 0.957 73.1%, 0.964 76.5%, 1 84.5%, 0.993 89.3%, 1);
  --link-transition-time: 0.5s;
}
div.link-wrapper {
  --link-bg-image: url('https://www.youtube.com/s/desktop/d3411c39/img/favicon_144x144.png'); /* Set by fetch! */
  transition: all calc(var(--link-transition-time)*1.5) var(--easing);
  width: var(--link-width);
  height: var(--link-height);
  border: 2px solid var(--border-color);
}
.link-wrapper:hover {
  scale: var(--scale);
  transition: all var(--link-transition-time) var(--easing);
}
.link-wrapper::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: var(--bg-zoom-to-cover);
  height: var(--bg-zoom-to-cover);
  background-size: var(--bg-size);
  background-repeat: repeat;
  transform: rotate(var(--bg-rotation));
  transform-origin: center;
  z-index: -1;
  filter: blur(var(--texture-blur));
  opacity: var(--texture-opacity);
}
.link-wrapper::before {
  background-image: var(--link-bg-image); 
}
@media (prefers-reduced-motion: reduce) {
  .link-list {
    --link-transition-time: 0s; /* Stäng av animationer vid reduced motion */
  }
}

/* these two will be unneeded ones links are in database and --link-bg-image is set dynamically */
.icon2::before {
  background-image: url('https://abs.twimg.com/responsive-web/client-web/icon-ios.77d25eba.png');
}
.icon3::before {
  background-image: url('https://content.linkedin.com/content/dam/me/business/en-us/amp/brand-site/v2/bg/LI-Bug.svg.original.svg');
}


